@model DoAn02.Models.Product

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!-- Bordered table start -->
<section class="section">
    <div class="row" id="table-bordered">
        <div class="col-12">
            <div class="card">
                <h3>BẠN CHẮC CHẮN MUỐN XÓA?</h3>
                <div class="card-content">
                    <!-- table bordered -->
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>MÃ SKU</th>
                                    <th>TÊN SẢN PHẨM</th>
                                    <th>MÔ TẢ</th>
                                    <th>GIÁ</th>
                                    <th>STOCK</th>
                                    <th>ID LOẠI SP</th>
                                    <th>TRẠNG THÁI</th>
                                    <th>HÌNH ẢNH</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-bold-500">@Html.DisplayFor(model => model.SKU)</td>
                                    <td> @Html.DisplayFor(model => model.Name)</td>
                                    <td class="text-bold-500"> @Html.DisplayFor(model => model.Description)</td>
                                    <td>@Html.DisplayFor(model => model.Price)</td>
                                    <td> @Html.DisplayFor(model => model.Stock)</td>
                                    <td> @Html.DisplayFor(model => model.ProductType)</td>
                                    <td> @Html.DisplayFor(model => model.ProductTypeId)</td>
                                    <td>
                                        @if (Model.Status == true)
                                        {
                                            <span class="badge bg-success text-white">ACTIVE</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-primary text-white">UNACTIVE</span>
                                        }
                                    </td>
                                    <td> <img src="~/img/@Model.Image" asp-append-version="true" style="width:100px; height:100px"></td>
                                    <td>
                                        <a href="#">
                                            <i class="badge-circle badge-circle-light-secondary font-medium-1"
                                               data-feather="mail"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Xóa" class="btn btn-danger" id="success" /> |
                                <a asp-action="Index" class="btn btn-primary">Quay Trở Lại</a>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="card-body">
    <div class="row">
        <div class="col-md-4 col-12">
            <button id="basic" class="btn btn-outline-primary btn-lg btn-block" style="display:none">
                Basic
                Example
            </button>
        </div>
        <div class="col-md-4 col-12">
            <button id="title" class="btn btn-outline-primary btn-lg btn-block" style="display:none">
                A title with a text
                under
            </button>
        </div>
        <div class="col-md-4 col-12">
            <button id="footer" class="btn btn-outline-primary btn-lg btn-block" style="display:none">
                With
                Footer
            </button>
        </div>
    </div>
</div><!-- Bordered table end -->
