@model IEnumerable<DoAn02.Models.Invoice>
@{
    ViewData["Title"] = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var invoiceGroup = Model.GroupBy(i => i.Account.Username).OrderBy(i => i.Key);
}

<h1>Group Hóa Đơn Theo Username</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Khách Hàng
            </th>
            <th>
                Mã HĐ
            </th>
            <th>
                Ngày Lập
            </th>
            <th>
               Địa Chỉ
            </th>
            <th>
                SĐT
            </th>
            <th>
                Tổng Tiền
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
        </thead>
    <tbody>
    @foreach(var gr in invoiceGroup)
            {       
                @foreach(var item in gr)
                {
                    <tr>
                        @if (item == gr.First())
                        {
                            <td rowspan="@gr.Count()" class="font-weight-bold">
                                @Html.DisplayFor(modelItem => gr.Key) (@gr.Count() Hóa Đơn)
                            </td>
                        }
                        <th>
                            @item.Code
                        </th>
                        <th>
                            @item.IssueDate
                        </th>
                        <th>
                            @item.ShippingAddress
                        </th>
                        <th>
                            @item.ShippingPhone
                        </th>
                        <th>
                            @item.Total
                        </th>
                        <th>
                            @item.Status
                        </th>
                    </tr>
                }
            }
    <</tbody>>
</table>

