@model DoAn02.Models.Invoice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>
<hr />
@*<dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Account)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Account.Password)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IssuedDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IssuedDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ShippingAddress)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ShippingPhone)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ShippingPhone)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@

<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Chi tiết hóa đơn</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" asp-for="AccountId">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Code</label>
                                            <input type="text" class="form-control" asp-for="Code">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Ngày tạo</label>
                                            <input type="text" class="form-control" asp-for="IssuedDate">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Họ và tên</label>
                                            <input type="text" class="form-control" asp-for="Fullname">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="city-column">Email</label>
                                            <input type="text" class="form-control" asp-for="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="country-floating">Địa chỉ</label>
                                            <input type="text" class="form-control" asp-for="ShippingAddress">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="company-column">SĐT</label>
                                            <input type="text" class="form-control" asp-for="ShippingPhone">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Tổng tiền</label>
                                            <input type="hidden" class="form-control" asp-for="Total">
                                            <label class="form-control">@Model.Total.ToString("#,##0 VNĐ")</label>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">
                                            <div><a asp-action="Index">Quay lại</a></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>