@model Tuple<IEnumerable<DoAn02.Models.Product>, IEnumerable<DoAn02.Models.Cart>>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutShop";
    Cart c = ViewBag.Cart;
    string username = ViewBag.AccountUsername;
    if (ViewBag.AccountUsername != null)
    {
        username = ViewBag.AccountUsername;
    }
    else
    {
        username = "Khách";
    }
}

@section head{
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>iShop - Cửa Hàng Điện Thoại Di Động Online</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets-shop/img/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets-shop/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets-shop/css/style.css">
    <link rel="stylesheet" href="~/assets-shop/css/custom.css">
}

@section header{
    <header>
        <div class="main_header">
            <!--header top start-->
            <div class="header_top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="support_info">
                                <p>Email: <a href="mailto:">support@ishop.com</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="top_right text-right">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Login">Đăng Kí</a></li>
                                    <li><a href="checkout.html">Đơn Hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header top start-->
            <!--header middel start-->
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index"><img src="~/assets-shop/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6">
                            <div class="middel_right">
                                <div class="search_container">
                                    <form asp-controller="Home" asp-action="Index" method="get">
                                        <div class="search_box">
                                            <input name="SearchString" placeholder="Nhập sản phẩm..." type="text">
                                            <button type="submit">Tìm Kiếm</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="middel_right_info">
                                    <div class="header_wishlist">
                                        <div class="mini_cart_wrapper">
                                            @if (@username != "Khách")
                                            {
                                                <div class="mini_cart_wrapper m-1">
                                                    <a href="javascript:void(0)"><img src="~/assets-shop/img/user.png" alt=""></a>
                                                    <!--mini cart-->
                                                    <div class="mini_cart" style="min-width:250px">
                                                        <span class="d-block" style="font-weight:600;border-bottom:1px solid #000;text-align:center;margin-bottom:.5rem">THÔNG TIN TÀI KHOẢN</span>
                                                        <span class="justify-content-center uppercase mb-3" style="font-size:12px">Tên: @username</span>
                                                        <span class="justify-content-center uppercase d-block" style="font-size:12px">Email: ishop@gmail.com</span>
                                                        <div class="cart_button mt-3 ">
                                                            <a asp-controller="Home" asp-action="Logout"><i class='bx bx-exit bx-rotate-180' style='color:#fff'></i> Logout</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            else
                                            {
                                                <div class="mini_cart_wrapper m-1">
                                                    <a asp-controller="Home" asp-action="Login">Đăng nhập <img src="~/assets-shop/img/user.png" alt=""></a>
                                                    <!--mini cart-->
                                                    @*<div class="mini_cart">
                                                            <h5>Tên : @username</h5>
                                                            <div class="cart_button">
                                                                <a asp-controller="Home" asp-action="Logout">Đăng Xuất</a>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    @if (Model.Item2.Count() > 0)
                                    {
                                <div class="mini_cart_wrapper">
                                    @if (username != "Khách")
                                    {
                                        <a asp-controller="Carts" asp-action="Index">
                                            Giỏ Hàng<img src="~/assets-shop/img/shopping-bag.png" alt="">
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Home" asp-action="Login">
                                            Giỏ Hàng<img src="~/assets-shop/img/shopping-bag.png" alt="">
                                        </a>
                                    }
                                    @foreach (var item in Model.Item2)
                                    {
                                        <span class="cart_quantity" style="margin-left:3.5rem">@Model.Item2.Count()</span>
                                    }
                                </div>
                                    }
                                    else
                                    {
                                        <div class="mini_cart_wrapper">
                                            <a asp-controller="Carts" asp-action="Index">
                                                Giỏ Hàng<img src="~/assets-shop/img/shopping-bag.png" alt="">
                                                <span class="cart_quantity" style="margin-left:3.5rem">0</span>
                                            </a>
                                        </div>
                                    }
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->
        <!--header bottom satrt-->
        <div class="main_menu_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="main_menu menu_position">
                            <nav>
                                <ul>
                                    <li><a href="index-2.html">home</a></li>
                                    <li><a href="product-details.html">Sản Phẩm</a></li>

                                    <li>
                                        <a href="blog.html">blog</a>
                                    </li>
                                    <li><a href="contact.html"> Liên Hệ</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </header>
}

<!--slider area start-->
<section class="slider_section d-flex align-items-center" data-bgimg="~/assets-shop/img/slider/slider3.jpg">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_content">
                            <h1>Iphone 13 Pro Max CHÍNH HÃNG </h1>
                            <h2>Ủy Quyền Từ Apple Store</h2>
                            <p>khuyến mãi đến<span> 20% </span>trong tháng này.</p>
                            <a class="button" href="product-details.html">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_content">
                            <img src="~/assets-shop/img/product/ip13_rgb.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="single_slider d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_content">
                            <h1>CAMERA TỐT NHẤT TRONG PHÂN KHÚC</h1>
                            <h2>100% LINH HOẠT</h2>
                            <p>SALE ĐẾN<span> 20% </span> TRONG THÁNG NÀY</p>
                            <a class="button" href="product-details.html">MUA NGAY</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_content">
                            <img src="~/assets-shop/img/product/samsung-rbg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_content">
                            <h1>XIAOMI REDMI NOTE 10 GIÁ RẺ TRONG PHÂN KHÚC</h1>
                            <h2>PHÂN KHÚC MẠNH NHẤT TRONG TẦM GIÁ</h2>
                            <p>ĐANG KHUYẾN MÃI VỚI<span> 20% </span>TRONG THÁNG NÀY</p>
                            <a class="button" href="product-details.html">MUA NGAY</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_content">
                            <img src="~/assets-shop/img/product/xiaomi-rbg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--slider area end-->
<!--Tranding product-->
<section class="pt-60 pb-30 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section-title">
                    <h2>SẢN PHẨM</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in Model.Item1)
            {
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="single-tranding">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <div class="tranding-pro-img">
                                <img src="~/img/@item.Image" alt="">
                            </div>
                            <div class="tranding-pro-title">
                                <h3>@item.Name</h3>
                                <h4>@item.ProductType.Name</h4>
                                <div class="btn btn-primary">
                                    @if (@username != "Khách")
                                    {
                                        <a asp-controller="Carts" asp-action="Add" asp-route-id="@item.Id">
                                            <img src="~/img/cart.png" width="20">
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="" asp-controller="Home" asp-action="Login">
                                            <img src="~/img/cart.png" width="20">
                                        </a>
                                    }
                                </div>
                                <div class="btn btn-primary">
                                    @if (@username != "Khách")
                                    {
                                        <a asp-controller="Carts" asp-action="Buynow" asp-route-id="@item.Id">
                                            <span class="btn btn-primary">MUA NGAY</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Home" asp-action="Login">
                                            <span class="btn btn-primary">MUA NGAY</span>
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="tranding-pro-price">
                                <div class="price_box">
                                    <span class="current_price">@item.Price.ToString("#,##VNĐ")</span>
                                    <span class="old_price">@item.Price.ToString("#,##VNĐ")</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section><!--Tranding product-->
<!--Testimonials-->
<section class="pb-60 pt-60 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="testimonial_are">
                    <div class="testimonial_active owl-carousel">
                        <article class="single_testimonial">
                            <figure>
                                <div class="testimonial_thumb">
                                    <a href="#"><img src="~/assets-shop/img/about/team-3.jpg" alt=""></a>
                                </div>
                                <figcaption class="testimonial_content">
                                    <p>Các sản phẩm và chất lượng dịch vụ hỗ trợ đều tốt</p>
                                    <h3><a href="#">Kathy Young</a><span> - CEO of SunPark</span></h3>
                                </figcaption>

                            </figure>
                        </article>
                        <article class="single_testimonial">
                            <figure>
                                <div class="testimonial_thumb">
                                    <a href="#"><img src="~/assets-shop/img/about/team-1.jpg" alt=""></a>
                                </div>
                                <figcaption class="testimonial_content">
                                    <p>Các sản phẩm và chất lượng dịch vụ hỗ trợ đều tốt</p>
                                    <h3><a href="#">John Sullivan</a><span> - Customer</span></h3>
                                </figcaption>

                            </figure>
                        </article>
                        <article class="single_testimonial">
                            <figure>
                                <div class="testimonial_thumb">
                                    <a href="#"><img src="~/assets-shop/img/about/team-2.jpg" alt=""></a>
                                </div>
                                <figcaption class="testimonial_content">
                                    <p>Các sản phẩm và chất lượng dịch vụ hỗ trợ đều tốt</p>
                                    <h3><a href="#">Jenifer Brown</a><span> - Manager of AZ</span></h3>
                                </figcaption>

                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Testimonials-->
<!--shipping area start-->
<section class="shipping_area">
    <div class="container">
        <div class=" row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping1.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h2>Giao hàng miễn phí</h2>
                        <p>Miễn phí vẫn chuyễn trên toàn quốc</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping2.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h2>Hỗ trợ 24/7</h2>
                        <p>Liên hệ hỗ trợ tất cả các giờ trong ngày</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping3.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h2>100% HOÀN TIỀN</h2>
                        <p>Đổi trả sau 30 ngày sử dụng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single_shipping">
                    <div class="shipping_icone">
                        <img src="assets/img/about/shipping4.png" alt="">
                    </div>
                    <div class="shipping_content">
                        <h2>BẢO MẬT THANH TOÁN</h2>
                        <p>Bảo mật các hình thức thanh toán cho khách hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section footer{
    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container contact_us">
                            <div class="footer_logo">
                                <a href="#"><img src="assets/img/product/wanabuy-rbg.png" alt=""></a>
                            </div>
                            <div class="footer_contact">
                                <p>iShop</p>
                                <p>Cửa Hàng Điện Thoại Di Động Online</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>THÔNG TIN</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="blog.html">Delivery Information</a></li>
                                    <li><a href="contact.html">Privacy Policy</a></li>
                                    <li><a href="services.html">Terms & Conditions</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Gift Certificates</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widgets_container widget_menu">
                            <h3>TÀI KHOẢN</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="wishlist.html">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Affiliate</a></li>
                                    <li><a href="faq.html">International Orders</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widgets_container newsletter">
                            <h3>THEO DÕI CHÚNG TÔI</h3>
                            <div class="footer_social_link">
                                <ul>
                                    <li><a class="facebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="instagram" href="#" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                    <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="rss" href="#" title="rss"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                            <div class="subscribe_form">
                                <h3>Join Our Newsletter Now</h3>
                                <form id="mc-form" class="mc-form footer-newsletter">
                                    <input id="mc-email" type="email" autocomplete="off" placeholder="Your email address..." />
                                    <button id="mc-submit">Subscribe!</button>
                                </form>
                                <!-- mailchimp-alerts Start -->
                                <div class="mailchimp-alerts text-centre">
                                    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                </div><!-- mailchimp-alerts end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p> <a href="templateshub.net">Templates Hub</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer_payment text-right">
                            <a href="#"><img src="assets/img/icon/payment.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
@section script{
    <!-- Plugins JS -->
    <script src="~/assets-shop/js/plugins.js"></script>
    <!-- Main JS -->
    <script src="~/assets-shop/js/main.js"></script>


}

@*Thông báo xem lại giỏ hàng*@
