<!DOCTYPE html>
<html lang="en">

<head>
    @RenderSection(name: "head", required: false)
</head>

<body>
    <div id="app">
        <div id="main" class="layout-horizontal">
            @RenderSection(name: "header", required: false)

            @RenderBody()

            @RenderSection(name: "footer", required: false)

        </div>
    </div>
    @RenderSection(name: "script", required: false)
</body>

</html>

