<!doctype html>
<html class="no-js" lang="en">

<!--   03:20:39 GMT -->
<head>
    @RenderSection(name: "head", required: false)
</head>

<body>

    <!--header area start-->
    <!--Offcanvas menu area start-->
    @RenderSection(name: "header", required: false)
    <!--header area end-->
    @RenderBody()

    <!--shipping area end-->
    <!--footer area start-->
    @RenderSection(name: "footer", required: false)
    
    <!--footer area end-->
    <!-- JS
    ============================================ -->
    @RenderSection(name: "script", required: false)
    
</body>

<!--   03:22:07 GMT -->
</html>