@model IEnumerable<DoAn02.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section head{
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản Lý</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/vendors/toastify/toastify.css">
    <link rel="stylesheet" href="~/assets/vendors/sweetalert2/sweetalert2.min.css">
}
@section header{
    <header class="mb-5">
        <div class="header-top">
            <div class="container">
                <div class="logo">
                    <a asp-controller="Admin" asp-action="Index"><img src="~/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="header-top-right">

                    <!-- Burger button responsive -->
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </div>
            </div>
        </div>
        <nav class="main-navbar">
            <div class="container">
                <ul>
                    <li class="menu-item  ">
                        <a asp-controller="Admin" asp-action="Index" class='menu-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="menu-item  ">
                        <a asp-controller="Home" asp-action="Index" class='menu-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Shop</span>
                        </a>
                    </li>

                    <li class="menu-item  has-sub">
                        <a href="#" class='menu-link'>
                            <i class="bi bi-stack"></i>
                            <span>Quản Lý Tài Khoản</span>
                        </a>
                        <div class="submenu ">
                            <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
                            <div class="submenu-group-wrapper">

                                <ul class="submenu-group">

                                    <li class="submenu-item  ">
                                        <a asp-controller="Accounts" asp-action="Create"
                                           class='submenu-link'>Thêm Tài Khoản</a>
                                    </li>

                                    <li class="submenu-item  ">
                                        <a asp-controller="Accounts" asp-action="Index"
                                           class='submenu-link'>Danh Sách TK</a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </li>



                    <li class="menu-item  has-sub">
                        <a href="#" class='menu-link'>
                            <i class="bi bi-stack"></i>
                            <span>Quản Lý Sản Phẩm</span>
                        </a>
                        <div class="submenu ">
                            <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
                            <div class="submenu-group-wrapper">

                                <ul class="submenu-group">

                                    <li class="submenu-item  ">
                                        <a asp-controller="Products" asp-action="Create"
                                           class='submenu-link'>Thêm Sản Phẩm</a>
                                    </li>

                                    <li class="submenu-item  ">
                                        <a asp-controller="Products" asp-action="Index"
                                           class='submenu-link'>Danh Sách SP</a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </li>


                    <li class="menu-item ">
                        <a asp-controller="ProductTypes" asp-action="Index" class='menu-link'>
                            <i class="bi bi-stack"></i>
                            <span>QL Loại Sản Phẩm</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
}
@section footer{
    <footer>
        <div class="container">
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                    <p>
                        Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
}
@section script{
    <script src="~/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/assets/js/pages/dashboard.js"></script>

    <script src="~/assets/js/pages/horizontal-layout.js"></script>

    <script src="~/assets/js/extensions/sweetalert2.js"></script>
    <script src="~/assets/vendors/sweetalert2/sweetalert2.all.min.js"></script>
}
<!-- Hoverable rows start -->
<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <h1>Danh Sách Tài Khoản</h1>
                <div class="card-content">
                    <div class="card-body">
                        <p>
                            <a asp-controller="Accounts" asp-action="Create" class="btn btn-info">TẠO TÀI KHOẢN</a>
                        </p>
                    </div>
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>USERNAME</th>
                                    <th>PASSWORD</th>
                                    <th>EMAIL</th>
                                    <th>SĐT</th>
                                    <th>ĐỊA CHỈ</th>
                                    <th>HỌ VÀ TÊN</th>
                                    <th>ADMIN</th>
                                    <th>TRẠNG THÁI</th>
                                    <th>HÌNH ẢNH</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-bold-500">@item.Username</td>
                                        <td>@item.Password</td>
                                        <td class="text-bold-500">@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Address</td>
                                        <td>@item.FullName</td>
                                        <td>
                                            @if (item.IsAdmin == true)
                                            {
                                                <span class="badge bg-success text-white">ACTIVE</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-primary text-white">UNACTIVE</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <span class="badge bg-success text-white">ACTIVE</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-primary text-white">UNACTIVE</span>
                                            }
                                        </td>
                                        <td><img src="~/avt/@item.Avatar" style="width:100px" avatar avatar-lg></td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Sửa</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Chi Tiết</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hoverable rows end -->
<style>
    .card .card-body {
        padding: 23px 0 10px 8px;
    }

    .card {
        padding: 1rem;
        margin: 1rem;
    }
</style>
