@model IEnumerable<DoAn02.Models.Cart>

@{
    Account acc = ViewBag.Account;
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>

        <h3>Cart Page</h3>
        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>STT</th>
                <th>ID</th>
                <th>Tên SP</th>
                <th>Ảnh</th>
                <th>Giá</th>
                <th>SL</th>
                <th>Thành Tiền</th>
            </tr>
            @foreach (var item in Model)
            {
                    <tr>
                        <td></td>
                        <td>@item.Product.Id</td>
                        <td>@item.Product.Name</td>
                        <td><img src="~/img/@item.Product.Image" width="60" /> </td>
                        <td>@item.Product.Price.ToString("#,##0") VNĐ</td>
                        <td>@item.Quantity</td>
                        <td>@((item.Product.Price * item.Quantity).ToString("#,##0")) VNĐ</td>
                        <td><a asp-controller="Carts" asp-action="Delete" asp-route-id="@item.Id">Xóa</a></td>
                    </tr>
                }
            <tr>
                <td align="right" colspan="6">Tổng: </td>
                <td>@ViewBag.Total.ToString("#,##0") VNĐ</td>
            </tr>
        </table>
        <br>
        <a asp-controller="Home" asp-action="Index">Tiếp Tục Mua Hàng</a>
        <div class="btn btn-primary">
            <a asp-controller="Carts" asp-action="Pay" style="color:white">Thanh Toán</a>
        </div>
    </body>
</html>
