@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutShop"; 
}

@section head{
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>iShop - Cửa Hàng Điện Thoại Di Động Online</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets-shop/img/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets-shop/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets-shop/css/style.css">
    <link rel="stylesheet" href="~/assets-shop/css/custom.css">
}

  
        <section class="account">
            <div class="row justify-content-center">
                <div class="">
                    <div class="account-contents" style="background: url('~/assets-shop/img/about/about1.jpg'); background-size: cover;">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="account-thumb">
                                    <h2>Đăng kí tài khoản</h2>
                                    <p>Đăng kí tài khoản nhanh chóng với Identity</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="account-content">
                                    <form id="account" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="single-acc-field">
                                            <label for="name">Email</label>
                                            <input asp-for="Input.Email" type="text" id="name" placeholder="email@gmail.com...">
                                        </div>
                                        <div class="single-acc-field">
                                            <label for="password">Password</label>
                                            <input asp-for="Input.Password" type="password" id="password" placeholder="Nhập mật khẩu..">
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label asp-for="Input.RememberMe">
                                                    <input asp-for="Input.RememberMe" />
                                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="single-acc-field">
                                            <button type="submit">Đăng nhập</button>
                                        </div>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng kí tài khoản</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
